# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Uploaded PDFs directory (if you don't want to commit user uploads)
document_store/pdfs/

# Generated Requirements
document_store/generated_requirements/

#downloaded models
models/

#Jupyter notebooks
*.ipynb

# Database
users.db

# Logs
streamlit_run.log
*.log
